.App {
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
}

.categories {
  padding: 20px;
}

h2 {
  color: #1f80e0;
}

footer {
  background-color: #141414;
  text-align: center;
  padding: 10px;
  color: white;
}
